services:
  app:
    build: .
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html/
    depends_on:
      - db
    environment:
      APACHE_RUN_USER: www-data
      APACHE_RUN_GROUP: www-data
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: horarios
      DB_USERNAME: horarios
      DB_PASSWORD: horarios@ifrn
    env_file:
      - .env

  db:
    image: mariadb:10.5
    restart: always
    environment:
      MYSQL_DATABASE: horarios
      MYSQL_USER: horarios
      MYSQL_PASSWORD: horarios@ifrn
      MYSQL_ROOT_PASSWORD: horarios@ifrn
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  dbdata:
